html, body {
  cursor: pointer;
  margin: 0;
  height: 100%;
  touch-action: none;
  user-select: none;
}

body {
  overflow: hidden;
  position: fixed;
}

button {
  position: relative;
  top: 50px;
  left: 100px;
}

button {
  cursor: pointer;
}

button:active {
  background-color: peachpuff;
}

#arrowSvg,
#bowSvg {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 100% 50%;
}

#bowSvg {
  width: 80px;
}
