html, body {
  cursor: pointer;
  margin: 0;
  height: 100%;
  touch-action: none;
  user-select: none;
}

body {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  color: black;
  border: 2px magenta dashed;
}

#bowAndArrow {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

#arrowSvg,
#bowSvg {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 100% 50%;
}

#bowSvg {
  width: 80px;
}
