body {
	background-color: #7fdbff;
	margin: 0;
	border: 0;
	padding: 0;
}


h1 {
	border: 2px solid black;
	background-color: #d4d4d4;
	width: auto;
	text-align: center;
	font-family: Courier;
	line-height: 1.46em;
}

#header {
	background-color: black;
	height: 1em;
	padding: 0.5em;
	margin: 0;
	border: 0;
	
	font-family: Courier;
	font-size: 2em;
}

/* Julia Tufts */
#header a {
	position: relative;
	clear: left;
	float: left;
	margin: 0;
  padding: 0;
	
	text-decoration: none;
	color: white;
}

/*navigation header*/
#navbar {
	background-color: #d4d4d4;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100%;
	margin: 0;
	padding: 0.5em;

	font-family: Courier;
}

#navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#navbar li {
	text-align: center;
	float: left;
	padding: 0.5em;
	/* font-size: 1.5vw; */
}
#navbar li a {
	text-decoration: none;
	color: black;
	display: block;
}
#navbar li:hover {
	background-color: #c1c1c1;
}

/*general feed*/
.feed {
	background-color: white;
	border: 2px solid black;
	margin: 1em 4em 2em 4em;
	padding: 1em;
	
	text-align: left;
	font-family: Helvetica;
	font-size: 1em;
	line-height: 161%;
}

.feed p {
	margin: 1em;
}

.feed a {
	color: #0074d9;
	text-decoration: none;
	display: inline-block
}
.feed a:visited {
	color: grey;
}

.feed img {
	width: 40%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.feed ul {
	width: 50%;
	margin: auto;
}

.feed li {
	color: #d4d4d4; /*so only the bullet is grey */
}
.feed li span {
	color: black;
}

.feed h3 {
	font-family: Courier;
	text-align: center;
	border: 2px solid black;
	padding: 5px;
}

/*blog picture header*/
.feed h4 {
	font-family: Courier;
	text-align: center;
}

.time {
	color: #f012be; 
	margin-top: -16px;
	font-family: Courier;
	font-size: 0.85em;
}

/*-----------
  blog feed
------------*/

.blog {
	background-color: white;
	border: 2px solid black;
	margin: 1em 4em 2em 4em;
	padding: 1em;
	width: 800px;
	
	text-align: left;
	font-family: Helvetica;
	font-size: 1em;
	line-height: 161%;
}

.blog a {
	color: #0074d9;
	text-decoration: none;
}
.blog a:visited {
	color: grey;
}

.blog img {
	width: 40%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.blog ul {
	width: 75%;
	margin: auto;
}

.blog li {
	color: #d4d4d4; /*so only the bullet is grey */
}
.blog li span {
	color: black;
}

.blog h3 {
	font-family: Courier;
	text-align: center;
	border: 2px solid black;
}

/*blog picture header*/
.blog h4 {
	font-family: Courier;
	text-align: center;
}

/*invisible grid - for projects page*/
.inv {
	margin: 1em 4em 2em 4em;
	
	font-family: Courier;
	text-align: center;
}

.inv img {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.inv h2 {
	background-color: white;
	margin-top: 0;
	margin-bottom: 0;
}

.inv a {
	color: black;
	text-decoration: none;
}
.inv a:visited {
	color: black;
}

/* For JavaScript canvas */
.jscanvas {
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
	  border: none;
}

/* for span_1_of_3 */
#outline {
	border: 2px solid black;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
		border: 2px solid black;
    display: block;
}

/*-----------
  div grid
------------*/

/*sections*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*column setup*/
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*grouping*/
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*grid of two*/
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49%;
}

/*grid of three*/
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 31.2%;
}

/*grid of three - SPACED*/
.span_3_of_3_spaced {
	width: 100%;
}
.span_2_of_3_spaced {
	width: 64.1%;
	padding: 1%;
}
.span_1_of_3_spaced {
	width: 31.2%;
	padding: 1%;
}

/*grid of four*/
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74%;
}
.span_2_of_4 {
	width: 48%;
}
.span_1_of_4 {
	width: 23%;
}

/*go full width at less than 480px*/
@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%;	
	}
	.span_1_of_2 {
		width: 100%;	
	}
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_3_of_3_spaced {
		width: 100%;
	}
	.span_2_of_3_spaced {
		width: 100%;
	}
	.span_1_of_3_spaced {
		width: 100%;
	}
	.span_4_of_4 {
	width: 100%;
	}
	.span_3_of_4 {
		width: 100%;
	}
	.span_2_of_4 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}
}