<head>
	<meta charset="UTF-8">
    <title>{{ page.title | "Julia Tufts" }}</title>

    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Link extra css when necessary -->
    {% for css_name in page.css %}
        <link rel="stylesheet" href="{{ css_name | prepend: site.baseurl }}">
    {% endfor %}

    <!-- Make iPhone display properly -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0;"> 

    <!-- Use some Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Titillium+Web:400,700' rel='stylesheet' type='text/css'>

    <!-- Link scripts when necessary -->
    {% for script_name in page.scripts %}
    	<script src="{{ script_name }}"></script>
	{% endfor %}
    
</head>
